@import '../../utils/scheme.scss';

.schools-page {
  min-height: 100vh;
  background-color: $color-bg;
}

.field {
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.title {
  font-size: $f5;
  font-weight: bold;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.cascades {
  display: flex;
  justify-content: space-between;
}
.cascade {
  width: (750 - 50 - 15) * 0.5px;
}

.count {
  text-align: center;
  font-size: $f6;
  color: $color-text-placeholder;
}
