@import '../../utils/scheme.scss';

.abnor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .image {
    height: 100%;
    &-gray {
      filter: saturate(80%) opacity(50%) grayscale(60%);
    }
  }
  .title {
    font-size: $f5;
    margin-top: 40px;
    color: $color-text-placeholder;
  }
  .btn {
    margin-top: 40px;
  }
}
