@import '../../../../utils/_scheme.scss';
@import '../../../../utils/_mixins.scss';

.eval-page {
  min-height: 100vh;
  background-color: $color-bg;
  @include iPhoneXTabbarHeight(100px);
  .nav {
    .see-all {
      font-size: 18px;
      color: $color-text-secondary;
      line-height: 1;
    }
  }
}
