@import '../../../../utils/scheme.scss';

.settings-timetable-page {
  background-color: $color-bg;
  min-height: 100vh;
  font-size: $f5;
  .gap {
    height: 25px;
  }
  .list-item {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    &:active {
      // opacity: 0.6;
      background-color: rgba(0, 0, 0, 0.01);
    }
    .icon {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    .input {
      width: 100%;
      color: $color-text-secondary;
      flex: 1;
      padding: 25px;
    }
    .name {
      // flex: 1;
      width: fit-content;
      padding: 25px;
    }
    .icon {
      color: $color-text-placeholder;
      font-size: $f3;
    }
  }
  .hint {
    color: $color-text-placeholder;
    font-size: $f6;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 10px 0;
  }
  .get-hexID {
    float: right;
    padding: 0 25px;
    font-size: $f5;
    font-weight: 400;
    color: rgb(24, 119, 207);
    text-decoration:underline
  }
}
