@import '../../../../utils/scheme.scss';
@import '../../../../utils/mixins.scss';

.activity-page {
  background-color: $color-bg;
  min-height: 100vh;
  font-size: $f5;
}

.header {
  width: 750px;
  position: relative;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.08),
    0 10px 25px 2px rgba(0, 0, 0, 0.04);
  margin-bottom: 15px;
  .calendar-bg {
    width: 750px;
  }
  .title {
    font-size: $f2;
    width: 750px;
    pointer-events: none;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    padding: 25px;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.8)
    );
  }
}

.panel {
  background-color: #fff;
  width: 750px;
  margin-bottom: 15px;
  .ripple {
    @include ripple();
  }
  .list-item {
    box-sizing: border-box;
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: $f4;
    .icon {
      font-size: $f4;
    }
    .addon {
      color: $color-text-placeholder;
    }
    .content {
      flex: 1;
      font-size: $f5;
      display: flex;
      align-items: center;
      margin: 0 25px;
      .item {
        margin-right: 15px;
      }
      .label {
        background-color: $color-primary;
        color: #fff;
        border-radius: 50px;
        padding: 10px 20px;
        box-sizing: border-box;
        font-size: $f6;
        &:active {
          opacity: 0.6;
        }
      }
    }
  }
}

.loading {
  width: 100%;
}

.modules {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .module-label {
    border-radius: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: $f6;
    margin: 5px 10px 5px 0;
    background-color: $color-bg;
    &:active {
      opacity: 0.6;
    }
  }
  .my-module-label {
    color: #fff;
    background-color: $color-primary;
  }
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  .btn {
    width: $f1 * 1.5;
    height: $f1 * 1.5;
    font-size: $f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .delete {
    background-color: $color-error-normal;
    &:active {
      background-color: $color-error-press;
    }
  }
  .update {
    background-color: $color-primary;
    &:active {
      background-color: $color-secondary;
    }
  }
  .eval {
    background-color: $color-success-normal;
    &:active {
      background-color: $color-success-press;
    }
  }
}
