@import '../../../../../../utils/_scheme.scss';
@import '../../../../../../utils/_mixins.scss';

.comments-container {
  flex: 1;
  box-sizing: border-box;
  background-color: #fff;
  padding: 25px;
  .comments {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    .comment {
      font-size: $f6;
      display: flex;
      margin-bottom: 25px;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      &:active {
        position: relative;
        &:before {
          content: ' ';
          top: 0;
          bottom: 0;
          left: -25px;
          right: -25px;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
      .left {
        margin-right: 15px;
      }
      .right {
        flex: 1;
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
          .left {
            .nickname {
              font-weight: bold;
            }
            .time {
              font-size: $f7;
              color: $color-text-placeholder;
            }
          }
          .like {
            color: $color-text-secondary;
          }
        }
        .content {
          line-height: 1.5;
          color: $color-text-long;
        }
        .children {
          margin-top: 15px;
          border-left: 5px solid $color-secondary;
          padding-left: 15px;
          .child {
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .nickname {
              color: $color-link-normal;
              &:active {
                color: $color-link-press;
              }
            }
          }
          .see-all-link {
            color: $color-link-normal;
            // color: $color-primary;
            font-size: $f6;
            font-weight: bold;
            &:active {
              color: $color-link-press;
            }
          }
        }
      }
    }
  }
}
