@import '../../utils/scheme.scss';
@import '../../utils/mixins.scss';

.fav-page {
  min-height: 100vh;
  background-color: $color-bg;
}

.eval-card {
  background: #fff;
  width: 750px;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 15px;
  &:active {
    opacity: 0.6;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    &-left {
      display: flex;
      align-items: center;
      .nickname {
        margin-left: 15px;
        color: $color-text-secondary;
        font-size: $f7;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      .school {
        opacity: 0.5;
        font-size: $f7;
        // color: #fff;
        // color: $color-text-placeholder;
        padding: 0 10px;
        border-radius: 5px;
        margin: 10px;
        margin-right: 15px;
      }
      @extend .color-course-tag;
    }
  }
  .content {
    color: $color-text-long;
    line-height: 1.5;
    &-title {
      font-size: $f5;
      font-weight: bold;
      margin: 10px 0;
    }
    &-short {
      font-size: $f6;
      @include ellipsis-ln(3);
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-secondary;
    font-size: $f7;
    margin-top: 25px;
    .footer-right {
      color: $color-text-placeholder;
    }
  }
}
