@import '../../../../../../utils/_scheme.scss';
@import '../../../../../../utils/_mixins.scss';

.answer {
  box-sizing: border-box;
  margin: 30px;
  margin-top: -45px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 0;
  background-color: #fff;
  .answer-small-detail {
    display: flex;
    justify-content: space-between;
    color: $color-text-secondary;
    font-size: $f6;
    .user-info {
      display: flex;
    }
  }
  .asr-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .answer-content {
      font-size: $f5;
      overflow: hidden;
      max-width: 550px;
    }
    .ask-btn {
      border: 1px solid $color-primary;
      border-radius: 8px;
      background-color: #fff;
      font-size: $f7;
      color: $color-primary;
      padding: 3px 6px 3px 6px;
      display: inline-block;
    }
  }
  
  .reply-input-wrapper {
    box-sizing: border-box;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: $f5;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    right: 0;
    left: 0;
    z-index: 99;
    .textarea {
      min-height: 20vh;
      box-sizing: border-box;
      width: 90%;
      padding: 16px;
      margin: 16px auto;
      border-radius: 10px;
      background-color: #00000011;
      color: $color-text-long;
      word-wrap: break-word;
      position: relative;
    }
    .reply-input-toolbar {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      width: 90%;
      .switch {
        display: flex;
        align-items: center;
        .anoy {
          margin-right: 20px;
        }
      }
      .word-count {
        color: $color-text-secondary;
      }
    }
    .props {
      margin: 1rem auto;
    }
  }
  .props {
    display: flex;
    justify-content: center;
    .props-right {
      font-size: $f5;
      color: #fff;
      width: 15vw;
      background-color: $color-primary;
      margin-bottom: 20px;
    }
  }
}

.answer-half {
  margin: 0;
  margin-top: -30px;
}
